  .main-card1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
  }
  
  .single-card1{
    width: 305px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    padding: 20px 15px;
    border-radius: 5%;
    margin: 10px 10px;
  }
  
  .title-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .title-content h2 {
    margin-right: 10px;
  }
  
  #button1{
      cursor: pointer;
      width: 200px;
      height: 50px;
      border-radius: 5%;
      background-color: green;
      color: white;
      margin-top: 100px;
  }

  @media screen and (min-width: 250px) and (max-width: 600px) {
    .single-card1 {
      width: 80vw;
    }
  }
